.buttons {
    display: grid;
    margin-left: 50%;
    margin-top: 5%;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px;
    column-gap: 50px;

  }
  .buttons .about-button {
    color: yellow;
    background: 0 0;
    font-size: 13px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid yellow;
    float: right;
    border-radius: 4px;
  }
  
  .buttons .about-button:hover,
  .buttons .about-button:focus{
    background: yellow;
    color: black;
  }

.about-body{
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    width: 39.1vw;
    height: 40vh;

}
  .about-heading {
    position: absolute;
    font-size: 25px;
    font-family: "Coolvetica";
    color: white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    left: 0px;
}
  .about-text {
    position: absolute;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 40px;
    top: 75px;
    left: 25px;
}

@media screen and (max-width: 900px) {
  
}